<h1>{{title}}</h1>
<p id="pWelcome">Welcome to {{title}}</p>

<iframe src="/iframe-content" id="frame"></iframe>
<br/>
<button id="btnShowMoreText">Click to show more text</button>

<p id="pLoading" style="display: none">Loading...</p>
<p id="pMoreText" style="display: none">Here is more text</p>

<script src="/javascripts/index.js"></script>