<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>

        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="icon" href="/favicon.ico">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
                crossorigin="anonymous"></script>
    </head>
    <body>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/additional-samples">Additional Samples</a></li>
        </ul>
        {{{body}}}
    </body>
</html>
